<div class="product-list-wrapper">
  <mat-tab-group>
    <mat-tab label="Recieved Products">
      <h1>Recieved List:</h1>
      <div class="products-container">
        <mat-grid-list cols="4" >
          <div *ngFor="let product of (recievedList$ | async).state.productsList">
            <mat-grid-tile>
             <app-product *ngIf="product && product.isRecieved" [product]="product" [currencyCurrent]="currenctCurrency"></app-product>
            </mat-grid-tile>  
          </div>
      </mat-grid-list>
      </div> 
    </mat-tab>
    <mat-tab label="Stores">
      <app-store-list [productsList]="(recievedList$ | async).state.productsList" [isRecived]="true"></app-store-list>
    </mat-tab>
  </mat-tab-group>
</div>
