<div>
  <h4>Total products: {{(productList | async).appState.productsList.length }}</h4>
  <mat-tab-group>
    <mat-tab label="Products">
      <h1>Product List:</h1>
      <div *ngFor="let product of (productList | async).appState.productsList">
        <app-product *ngIf="product && !product.isRecieved" (receive)="handleReceived($event)" [product]="product"></app-product>
      </div> 
    </mat-tab>
    <mat-tab label="Stores">
      <app-store-list [productsList]="(productList | async).appState.productsList"></app-store-list>
    </mat-tab>
  </mat-tab-group>
</div>